# DataLab Quickstart
This notebook demonstrates how to connect to the shared `interactions.db` file,
normalize the typing metadata JSON, and compute lightweight aggregates.

In [7]:
from __future__ import annotations

import json
from pathlib import Path
import sqlite3

import pandas as pd

ROOT = Path.cwd().parents[1]
DB_PATH = ROOT / 'data' / 'interactions.db'
DB_PATH

WindowsPath('D:/Files/Code 3/ChatAI-DataLab/data/interactions.db')

In [10]:
conn = sqlite3.connect(DB_PATH)
df = pd.read_sql_query("SELECT * FROM interactions ORDER BY created_at DESC", conn)
df.head()

,id,user_prompt_text,typing_metadata_json,ai_response_text,model_name,latency_ms,created_at
0,8c208b84-f73b-4f7a-87a1-37e435ae5ef6,ok ok ok ok o ko ko okok,"{""total_duration_ms"": 6227, ""token_estimate"": ...",[echo] ok ok ok ok o ko ko okok,echo,0,2025-11-14 11:29:56.632399
1,74839200-e7a8-44c5-bfe9-4abba81e572b,dfdfdfdfdf,"{""total_duration_ms"": 1120, ""token_estimate"": ...",[echo] dfdfdfdfdf,echo,0,2025-11-14 11:28:19.158327
2,ef2c17c3-084e-46fd-8ff7-8b1283ffd5d2,gfgfgdgdf\n\nLive workspace capturing cadence ...,"{""total_duration_ms"": 2892, ""token_estimate"": ...",[echo] gfgfgdgdf\n\nLive workspace capturing c...,echo,0,2025-11-14 11:28:17.112240
3,fff8d19b-c665-4229-b0eb-562aa1a2aa43,Live workspace capturing cadence metrics and g...,"{""total_duration_ms"": 0, ""token_estimate"": 29,...",[echo] Live workspace capturing cadence metric...,echo,0,2025-11-14 11:27:48.500173
4,a5f4894b-92be-4200-8967-577ce420d038,test. test. test.\n\n\nLive workspace capturin...,"{""total_duration_ms"": 13608, ""token_estimate"":...",[echo] test. test. test.\n\n\nLive workspace c...,echo,0,2025-11-14 11:27:02.923207

In [13]:
def explode_pauses(row):
    events = json.loads(row['typing_metadata_json']).get('pause_events', [])
    total_pause = sum(item['duration_ms'] for item in events)
    return pd.Series({
        'pause_count': len(events),
        'total_pause_ms': total_pause
    })

features = df.apply(explode_pauses, axis=1) if not df.empty else pd.DataFrame(columns=['pause_count', 'total_pause_ms'])
features.head()

   pause_count  total_pause_ms
0            2            2069
1            0               0
2            1            1080
3            0               0
4            6            6222